/* ------------------------------------------------------------------------
------------------------------------------------------------------------
* 991px以下
------------------------------------------------------------------------
-------------------------------------------------------------------------- */
@media (max-width: 991px) {

  /* ------------------------------------------------------------------------
  * 全体
  -------------------------------------------------------------------------- */
  p,
  a,
  li {
    font-size: 14px;
  }

  /* ------------------------------------------------------------------------
  * プロフィール
  -------------------------------------------------------------------------- */
  .profile_item1 img {
    width: 200px;
    height: 200px;
  }

  .profile_item2 li {
    padding-left: 50px;
  }

  .profile_item2 li span {
    width: 150px;
  }

  /* ------------------------------------------------------------------------
  * サービス
  -------------------------------------------------------------------------- */
  .service_item {
    padding: 20px;
  }
}

/* ------------------------------------------------------------------------
  ------------------------------------------------------------------------
  * 767px以下
  ------------------------------------------------------------------------
  -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {

  /* ------------------------------------------------------------------------
  * 全体
  -------------------------------------------------------------------------- */
  body {
    letter-spacing: .1em;
  }

  .inner {
    padding: 60px 20px;
    max-width: 100%;
  }

  .title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .title span {
    font-size: 40px;
    top: -25px;
  }

  /* ------------------------------------------------------------------------
  * ナビゲーション
  -------------------------------------------------------------------------- */
  #navsp {
    width: 50%;
  }

  /* ------------------------------------------------------------------------
  * メインビジュアル
  -------------------------------------------------------------------------- */
  .copy p {
    font-size: 30px;
  }

  /* ------------------------------------------------------------------------
  * プロフィール
  -------------------------------------------------------------------------- */
  .profile_box {
    flex-direction: column;
    gap: 10px;
  }

  .profile_item2 li span {
    width: 100px;
  }

  /* ------------------------------------------------------------------------
  * サービス
  -------------------------------------------------------------------------- */
  .service_box {
    flex-direction: column;
    gap: 10px;
  }

  .service_item {
    width: 100%;
  }

  /* ------------------------------------------------------------------------
  制作実績
  -------------------------------------------------------------------------- */
  .works-item {
    display: block;
  }

  .works-text {
    width: 100%;
  }

  .works-img {
    width: 100%;
    margin-top: 10px;
  }

  /* ------------------------------------------------------------------------
  お問い合わせ
  -------------------------------------------------------------------------- */
  .btn {
    padding: 10px 0;
    width: 80%;
  }
}
