@charset "UTF-8";

/* 全体 */
body {
  background-color: #f8f3e2;
}

a {
  text-decoration: none;
  color: #333;
}



/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3;
}

.header a {
  padding-left: 20px;
}

/* nav */
.nav-menu {
  display: flex;
}

.nav-menu li {
  padding-right: 20px;
}

.nav-menu a {
  font-weight: bold;
}



/* home image */
.main {
  width: 100%;
  background-size: cover;
  background-position: center;
}



/* about */
#about {
  padding-bottom: 10%;
}

#about p {
  line-height: 2.2em;
}

.about-title {
  text-align: center;
  padding-top: 10px;
}

figure {
  display: flex;
  margin: 0 10%;
}

.about-content p {
  text-align: center;
}

.about-txt {
  margin-left: 10%;
}



/* works */
#works {
  padding-bottom: 50px;
  background-color: #d3d3d3;
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-content {
  padding: 15px;
  margin: 10px;
  box-shadow: 5px 5px 30px #8a8a8a;
}

.card-content img {
  width: 100%;
}



/* contact */
#contact {
  padding-bottom: 10%;
}

.contact-content {
  text-align: center;
}

.contact-txt {
  padding: 15px 0;
}

.contact-btn {
  background-color: #6dca8d;
  border-radius: 30px;
  padding: 15px 30px;
  width: 30%;
  box-shadow: 5px 5px 10px #8a8a8a;
}

.sns-icon {
  padding-top: 50px;
}

.sns-icon a {
  letter-spacing: 10px;
}

.fa-instagram {
  background-image: linear-gradient(135deg, #4933f7, #ef1837, #fbd980);
  color: transparent;
  font-size: 70px;
  -webkit-background-clip: text;
}

.fa-twitter {
  font-size: 70px;
  color: #1DA1F2;
}

.fa-youtube {
  font-size: 70px;
  color: #DA1725;
}



/* footer */
footer {
  background-color: #d3d3d3;
  text-align: center;
  padding: 3%;

}
